html{
    font-size:10vw;
    font-family: "微软雅黑";
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-search:before {
  content: "\e003";
}

